body {
    height: 100vh;
    background-color: #0f1014;
    background-image: url(background-image.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: #dbdbdb;
    text-align: center;
    font-size: 90px;
    font-family: Beyond The Mountains;
    user-select: none;
}

p {
    color: #dbdbdb;
    text-align: center;
    font-family: Source Code Pro;
    font-size: 18px;
}

img {
    margin: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 256px;
    -webkit-filter: drop-shadow(5px 5px 5px black);
    filter: drop-shadow(5px 5px 5px black);
    pointer-events: none;
}
