@font-face {
    font-family: 'Beyond The Mountains';
    src: url('./fonts/beyond_the_mountains.ttf');
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('./fonts/Source_Code_Pro.ttf');
}

body {
    height: 100vh;
    background-color: #0f1014;
    background-image: url("./img/background-image.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

}

.banner-home {
    background-image: url("./img/under-construction.png");
    background-size: cover;
    background-position: center;
}

header {
    margin: 10px;
    padding: 10px;
}

h1 {
    color: #dbdbdb;
    text-align: center;
    font-size: 90px;
    font-family: 'Beyond The Mountains';
    user-select: none;
    margin: 0px;
    padding: 0px;
}

p {
    color: #dbdbdb;
    text-align: center;
    font-family: 'Source Code Pro';
    font-size: 18px;
}



#placa {
    margin: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 256px;
    -webkit-filter: drop-shadow(5px 5px 5px black);
    filter: drop-shadow(5px 5px 5px black);
    pointer-events: none;
}
